<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.icoo.ssgsag_android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
            android:name=".SsgSagApplication"
            android:allowBackup="true"
            android:icon="@drawable/launcher_appxxxhdpi"
            android:label="@string/app_name"
            android:roundIcon="@drawable/launcher_roundxxxhdpi"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <!--activity-->
        <activity
                android:name=".ui.login.loginDialog.LoginDialogActivity"
                android:screenOrientation="unspecified"
                android:theme="@style/popupTheme"
                android:launchMode="singleTop">
        </activity>
        <activity
                android:name=".ui.splash.SplashActivity"
                android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:scheme="@string/kakao_scheme"
                        android:host="@string/kakaolink_host"/>
            </intent-filter>

        </activity>
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:scheme="ssgsag"
                        android:host="main"/>

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.subscribe.SubscribeActivity"/>
        <activity android:name=".ui.main.feed.FeedWebActivity"
                android:usesCleartextTraffic="true"/>
        <activity android:name=".ui.main.myPage.MyPageActivity"/>
        <activity android:name=".ui.main.myPage.contact.ContactActivity"/>
        <activity android:name=".ui.main.myPage.pushAlarm.PushAlarmActivity"/>
        <activity android:name=".ui.main.myPage.serviceInfo.license.LicenseActivity"/>
        <activity android:name=".ui.main.myPage.serviceInfo.appInfo.AppInfoActivity"/>
        <activity android:name=".ui.main.myPage.serviceInfo.privacy.PrivacyActivity"/>
        <activity android:name=".ui.main.myPage.serviceInfo.term.TermActivity"/>
        <activity android:name=".ui.main.myPage.notice.noticeHolder.NoticeHolderActivity"/>
        <activity android:name=".ui.main.myPage.serviceInfo.ServiceInfoActivity"/>
        <activity android:name=".ui.main.myPage.accountMgt.secession.SecessionActivity"/>
        <activity android:name=".ui.main.myPage.notice.NoticeActivity"/>
        <activity android:name=".ui.main.calendar.calendarDetail.CalendarDetailActivity"/>
        <activity android:name=".ui.main.calendar.supported.SupportedActivity"/>
        <activity android:name="com.icoo.ssgsag_android.ui.main.photoEnlarge.PhotoExpandActivity"/>
        <activity android:name=".ui.main.myPage.accountMgt.AccountMgtActivity"/>
        <activity android:name=".ui.walkthrough.WalkthroughActivity">

        </activity>
        <activity android:name=".ui.signUp.school.SignUpSchoolActivity"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.login.LoginActivity">
        </activity>

        <activity android:name=".ui.main.myPage.career.CareerActivity"/>
        <activity android:name=".ui.main.myPage.career.careerEdit.CareerEditActivity"/>
        <activity android:name=".ui.signUp.profile.SignUpProfileActivity"
                  android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".ui.main.allPosters.search.SearchActivity"/>
        <activity android:name=".ui.signUp.SignupActivity"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".ui.main.ssgSag.filter.SsgSagFilterActivity"/>
        <activity android:name=".ui.main.feed.bookmark.BookmarkedFeedActivity"/>
        <activity android:name=".ui.main.review.club.ReviewDetailActivity"/>
        <activity android:name=".ui.main.review.club.reviews.MoreReviewActivity"/>
        <activity android:name=".ui.main.review.club.registration.ClubManagerCheckActivity"/>
        <activity android:name=".ui.main.review.club.registration.ClubManagerContactActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.main.review.club.registration.ClubRgstrActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.main.review.HowWriteReviewActivity"/>
        <activity android:name=".ui.main.review.club.write.ReviewWriteActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.main.review.club.registration.NonRgstrClubActivity"/>
        <activity android:name=".ui.main.review.ReviewDoneActivity"/>
        <activity android:name=".ui.main.review.photoViewPager.PhotoViewPagerActivity"/>
        <activity android:name=".ui.main.review.club.reviews.blogReview.RgstrBlogReviewActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.main.review.event.ReviewEventActivity"
                android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name=".ui.main.myPage.myReview.MyReviewActivity"/>
        <activity android:name=".ui.main.myPage.myReview.MyReviewDetailActivity"/>
        <activity android:name=".ui.main.review.club.edit.ClubReviewEditActivity"/>

        <activity android:name=".ui.main.ssgSag.todaySwipePoster.TodaySwipePosterActivity"
                android:windowSoftInputMode="adjustResize"/>

        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar"
                />

        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <!--meta data-->
        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id"/>
        <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="@string/kakao_app_key"/>
        <meta-data android:name="AdBrixRmAppKey"
                   android:value="@string/adbrix_app_key"/>
        <meta-data android:name="AdBrixRmSecretKey"
                   android:value="@string/adbrix_secret_key"/>

        <!--receiver-->
        <receiver
                android:name="com.igaworks.v2.core.AbxReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".util.sdk.adbrix.MultipleInstallReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <!--service-->
        <service
                android:name="com.google.android.gms.analytics.CampaignTrackingService"
                android:enabled="true"
                android:exported="false"/>
        <service android:name="com.icoo.ssgsag_android.util.sdk.firebase.FireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.icoo.ssgsag_android.util.sdk.firebase.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        
        <!--provider-->
        <provider
                android:authorities="com.icoo.ssgsag_android"
                android:name="androidx.core.content.FileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider"/>

        </provider>

    </application>

</manifest>